/* 前付けのページ設定
maeduke.cssはファイル名がmaeduke.mdを含むときのみ読み込まれる
通常のCSSも読み込まれるので、必要に応じて打ち消し指定が必要
*/

/* 左右で異なる部分の設定（柱を消す） */
@page :left{
  margin: 18mm 18.5mm 18mm 18.5mm;
  @bottom-center {
      content: counter(page);
      margin-top: 2.5mm;
      width: 8mm;
      font-family: rochester;
      font-size: 12q;
      color: #FFF;
  }
    /* ツメをずらしたい場合、ファイルごとにCSSを分けるしかない */
    @left-middle {
        content: none;
    }
}
@page :right{
  margin: 18mm 18.5mm 18mm 18.5mm;
  @bottom-center {
      content: counter(page);
      margin-top: 2.5mm;
      width: 8mm;
      font-family: rochester;
      font-size: 12q;
      color: #FFF;
  }
    @right-middle {
        content: none;
    }
}
@page:first{
  @bottom-center {
    content: none;
  }
}


.allcover{
  break-before: recto;
  width: 154mm;
  height: 216mm;
  margin-left: -18.5mm;
  margin-top: -18mm;
  background: url("img/soro_seiki_soutobira.png");
  background-size: contain;
  padding: 15mm;
}


/* 2ページ目定形 */
.sample_annnai, .sample_annnai>p, .mdk_kenri{
  font-size: 11q;
  line-height: 18q;
  font-family: notosans-l;
}


.sample_annnai>h4, .mdk_kenri>h4{
  font-size: 12q;
  line-height: 20q;
  font-family: mplusrounded-b;
  margin-top: 2mm;
}

.sample_annnai>ul, .mdk_kenri>ul{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5mm;
}

.sample_annnai code {
    font-size: 12q;
    line-height: 20q;
    margin-top: 1mm;
    margin-bottom: 1mm;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: notosans-m;
}

.mdk_otoiawase {
  padding: 3mm;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0mm;
}

.mdk_otoiawase>h4 {
  font-size: 10q;
  line-height: 14q;
  font-family: mplusrounded-b;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5mm;
  color: #fff;
  background-color: #333;
  padding: 1mm 0;
}

.mdk_otoiawase>h4::before{
  content: none;
}

.mdk_otoiawase p{
  font-size: 10q;
  line-height: 14q;
  margin-top: 0;
  margin-bottom: 1.5mm;
}

.hajimeni{
    margin-top: 4mm;
}
.hajimeni>p, .author{
  font-size: 13q;
  line-height: 24q;
  margin-top: 0mm;
  margin-bottom: 0mm;
  padding: 0 0mm;
}

.author{
  margin-top: 4mm;
  text-align: right;
}

/* 目次 */
nav{
  margin-bottom: 12mm;
}

nav li::after{
  content: '';
  display: block;
  height: 0;
  /* border-top: 0.5mm dotted #999; */
  border-top: 0.3mm dotted #999;
  position: relative;
  bottom: 1.7mm;
  z-index: -1;
  width: 99%;
}

nav a::after {
  content: target-counter(attr(href url), page);
  font-family: rochester;
  font-size: 14q;
  position: absolute;
  bottom: 0mm;
  right: 0mm;
  background: #fff;
  padding: 0 0 0 1mm;
}
nav ul .li_h1::after, nav ul .li_tukimono::after{
  content: none;
}

nav ul{
  font-size: 13q;
  line-height: 22q;
  list-style: none;
  margin: 1mm 0mm;
}

nav li{
  position: relative;
}

nav .li_h1, nav .li_tukimono {
  font-family: mplusrounded-b;
  font-size: 22q;
  line-height: 26q;
  padding: 0 2mm;
}

nav ul.ul_h0{
  margin-left: 16.5mm;
  font-family: mplusrounded-r;
  font-size: 13q;
  line-height: 20q;
}

nav ul.ul_h1>li{
  margin-bottom: 5mm;
  counter-reset: moku_sec-count;
}

nav ul.ul_h1>li::after{
  border: none;
}

nav ul.ul_h1>li::before{
content: "";
width: 131mm;
height: 10mm;
background: url("img/comic_regex_mae_mokuji01.svg");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
position: absolute;
top: 5.5mm;
left: -6.5mm;
}

nav .li_tukimono::before{
  top: 3mm;
}

nav ul.ul_h2{
  margin: 0 0 4mm 3mm;
}

nav ul.ul_h2>li{
  margin-top: 0mm;
}

nav ul.ul_h3{
  margin: 0 0 1mm 13.5mm;
}

nav ul.ul_h3>li{
  margin-top: 0mm;
}

.nav_num {
  font-family: rochester;
  font-size: 36q;
  line-height: 36q;
  color: #666;
  text-align: center;
  vertical-align: -13%;
  margin-right: 3mm;
}

.nav_tukimono {
 font-family: rochester;
 font-size: 22q;
 line-height: 36q;
 color: #666;
 text-align: center;
 vertical-align: -6%;
 margin-right: 2mm;
 padding-right: 2mm;
}

.nav_num::before{
  content: "第";
  margin-right: 1mm;
}
.nav_num::after{
  content: "章";
  margin-left: 1mm;
}
.nav_num::before, .nav_num::after{
  font-family: mplusrounded-m;
  font-size: 14q;
  color: #666;
  vertical-align: 16%;
}
nav .li_h2{
  font-family: mplusrounded-m;
  font-size: 16q;
  line-height: 24q;
  margin-left: 13.5mm;
  counter-increment: moku_sec-count;
}

nav .li_h2::before{
  content: " " counter(moku_sec-count) " \A";
  width: 16.5mm;
  height: 5.5mm;
  background: url("img/comic_regex_mae_mokuji02.svg");
  background-repeat: no-repeat;
  background-size: auto;
  /* background-position-y: -0.8mm; */
  position: absolute;
  font-family: rochester;
  text-align: center;
  color: #fff;
  background-color: #fff;
  top: -0.1mm;
  left: -3.1mm;
  z-index: 3;
  text-indent: -1.2mm;
  font-size: 17q;
}

nav .li_h3{
  font-family: mplusrounded-r;
  font-size: 13q;
  line-height: 20q;
}

nav .okuduke_link::after{
    content: none;
}

.bg_white{
  background-color: #fff;
  padding-right: 1mm;
}

/* 目次内での改ページ */
.nav_pagebreak{
    break-before: page;
}
/* 目次内でのツメ */
.nav_tume{
    font-feature-settings: "palt" 1;
    letter-spacing: -0.1em;
}

/* 前付用見出し */
h2{
    font-size: 17q;
    line-height: 22q;
    font-family: mplusrounded-r;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    width: 117mm;
    height: 10mm;
    background: url("img/comic_regex_mae_h2_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 0;
}

h2::before{
  content: none;
  vertical-align: -0.5mm;
}

.secheader{
    break-before: auto;
    height: 13mm;
    width: 0mm;
    margin: 0;
    padding: 0 0 0 0;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    counter-increment: sec-count;
}

.mdk_chara_box{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  /* margin-top: 4mm; */
}

.mdk_chara{
  flex-basis: 52mm;
  background: url("img/comic_regex_circle01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5mm 6mm 0mm;
  margin: -3mm 0 0 0;
}

.mdk_chara h4{
  font-size: 16q;
  line-height: 20q;
  margin: 0 0 0mm;
  text-align:center;
}
.mdk_chara h4::before{
    content: none;
}

.mdk_chara p{
  text-indent: 0;
  font-size: 13q;
}

.mdk_chara img{
  width: 100%;
}
