@page :left {
  @left-top {
    content: "A";
    width: 12mm;
    margin-top: 72mm;
    padding-right: 6.5mm;
    height: 9mm;
    background: #FDD;
    background: url("img/comic_regex_tume1.svg");
    background-repeat: no-repeat;
    background-size: 19.5mm 9mm;
    background-position: -7.5mm 0mm;
    background-origin: border-box;
    font-family: rochester;
    font-size: 18q;
    line-height: 35q;
    color: #FFF;
    text-indent: 4.5mm;
  }

  @left-middle {
    content: env(doc-title);
    width: 2.5mm;
    margin-right: 9mm;
    margin-left: 8mm;
    margin-top: 43mm;
    writing-mode: vertical-rl;
    vertical-align: top;
    font-family: mplusrounded-r;
    font-size: 10q;
    line-height: 10q;
    color: #4d4d4d;
  }
}

@page :right {
  @right-top {
    content: "A";
    width: 12mm;
    margin-top: 72mm;
    padding-left: 6.5mm;
    height: 9mm;
    background: #FDD;
    background: url("img/comic_regex_tume1.svg");
    background-repeat: no-repeat;
    background-size: 19.5mm 9mm;
    background-position: 6mm 0mm;
    background-origin: border-box;
    font-family: rochester;
    text-align: left;
    font-size: 18q;
    line-height: 35q;
    color: #FFF;
    text-indent: 3mm;
  }
  @right-middle {
    content: env(doc-title);
    width: 2.5mm;
    margin-right: 8mm;
    margin-left: 9mm;
    margin-top: 43mm;
    writing-mode: vertical-rl;
    vertical-align: top;
    font-family: mplusrounded-r;
    font-size: 10q;
    line-height: 10q;
    color: #4d4d4d;
  }
}


/* 表幅100% */
table{
  width: 100%;
}

p {
    text-indent: 0;
    line-height: 26q;
}

/* h3変更 */
h3 {
  font-size: 16q;
  line-height: 6mm;
  font-family: mplusrounded-m;
  text-align: left;
  text-indent: 4.5mm;
  vertical-align: middle;
  color: #4d4d4d;
  width: 100%;
  height: 7mm;
  background: none;
  margin-top: 6mm;
  margin-bottom: 0mm;
  margin-left: 0;
  position: relative;
}

h3::before{
  content: url("img/apend_h3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 6mm;
  height: 6mm;
  position: absolute;
  left: -2mm;
  top: -0.5mm;
}

h3 + p{
    margin-top: 0mm;
}

/* ルール */
.rule {
  font-size: 10q;
  display: inline-block;
  position: relative;
  height: 3.5mm;
  line-height: 3.5mm;
  text-align: center;
  padding: 0 3mm 0 1mm;
  background: #4d4d4d;
  color: #FFF;
  box-sizing: border-box;
}

.rule:before, .rule:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.rule:before {
  top: -1mm;
  left: -0.5mm;
  border-width: 2.75mm 2mm 2.75mm 0mm;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.rule:after {
  top: -1mm;
  right: -0.5mm;
  border-width: 2.75mm 2mm 2.75mm 0mm;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

/* ケース */
.case{
  font-family: mplusrounded-r;
  font-size: 12q;
  width: 24mm;
  background-color: #e2e2e2;
  display: inline-block;
  text-indent: 0mm;
  text-align: center;
  margin-right: 4mm;
  height: 5.5mm;
  line-height: 6mm;
}

/* リスト */
li{
  font-size: 14q;
  line-height: 6.5mm;
  margin-top: -1mm;
}
/* 開始ノンブル変更
/* @page:first{
    counter-reset: page 10;
} */

/* 扉文字 */
.tobira_apd{
  font-family: rochester;
  font-size: 60q;
  line-height: 44q;
  color: #C9CACA;
  text-align: center;
  margin-top: 14mm;
}

/* 付録の表の最初の列を揃える */
table td:first-child, table th:first-child{
    width: 8em;
    font-family: inconsolata-b, notosans-r;
}

li code{
    text-decoration: underline;
    font-family: notosans-r;
}
