/* マンガ部分関係のCSS */

/* コマのコンテナ */
.container{
    display: flex;
    flex-direction: row;
    /*横並びにする*/
    align-items: flex-end;
    /*縦に伸ばさない*/
    flex-wrap: wrap;
    margin-top: 4mm;
    margin-bottom: 2mm;
    justify-content: space-between;
    font-size: 13q;
    line-height: 20q;
}

/* コマ */
/* 標準サイズ1/2 */
.frame{
    width: 57mm;
    border:solid 0.5mm #555;
    margin-bottom: 3.5mm;
    height: 46mm;
    position: relative;
    font-size: 13q;
    line-height: 20q;
}
/* スリムサイズ1/3 */
.fslim{
    width: 37mm;
}
/* ワイドサイズ2/3 */
.fwide{
    width: 76.5mm;
    /* width: 77mm; */
}
/* フルサイズ3/3 */
.ffull{
    width: 100%;
}

.back000{
    background: #CCC;
}
.back001{
    background: url("img/manga_back/back001.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back002{
    background: url("img/manga_back/back002.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back003{
    background: url("img/manga_back/back003.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back004{
    background: url("img/manga_back/back004.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back005{
    background: url("img/manga_back/back005.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back006{
    background: url("img/manga_back/back006.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back007{
    background: url("img/manga_back/back007.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.back008{
    background: url("img/manga_back/back008.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back009{
    background: url("img/manga_back/back009.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back010{
    background: url("img/manga_back/back010.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back011{
    background: url("img/manga_back/back011.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back012{
    background: url("img/manga_back/back012.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back013{
    background: url("img/manga_back/back013.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back014{
    background: url("img/manga_back/back014.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.back015{
    background: url("img/manga_back/back015.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back001{
    background: url("img/manga_back/back001slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back002{
    background: url("img/manga_back/back002slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back003{
    background: url("img/manga_back/back003slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back004{
    background: url("img/manga_back/back004slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back005{
    background: url("img/manga_back/back005slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back006{
    background: url("img/manga_back/back006slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back007{
    background: url("img/manga_back/back007slim.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.fslim.back008{
    background: url("img/manga_back/back008slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back009{
    background: url("img/manga_back/back009slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back010{
    background: url("img/manga_back/back010slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back011{
    background: url("img/manga_back/back011slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back012{
    background: url("img/manga_back/back012slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back013{
    background: url("img/manga_back/back013slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back014{
    background: url("img/manga_back/back014slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fslim.back015{
    background: url("img/manga_back/back015slim.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* キャラクター */


.frame.namida::after{
    content: "";
    background: url("img/manga_chara/chara1-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.shibu::after{
    content: "";
    background: url("img/manga_chara/chara1-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.hatena::after{
    content: "";
    background: url("img/manga_chara/chara1-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.gyao::after{
    content: "";
    background: url("img/manga_chara/chara1-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.doya::after{
    content: "";
    background: url("img/manga_chara/chara1-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.fuan::after{
    content: "";
    background: url("img/manga_chara/chara1-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.yatta::after{
    content: "";
    background: url("img/manga_chara/chara1-7.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.frame.sumashi::after{
    content: "";
    background: url("img/manga_chara/chara1-8.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}

/* 雪表情 */
.frame.jito::after{
    content: "";
    background: url("img/manga_chara/chara2-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.shock::after{
    content: "";
    background: url("img/manga_chara/chara2-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.anone::after{
    content: "";
    background: url("img/manga_chara/chara2-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.kohon::after{
    content: "";
    background: url("img/manga_chara/chara2-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.gohoubi::after{
    content: "";
    background: url("img/manga_chara/chara2-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.iyada::after{
    content: "";
    background: url("img/manga_chara/chara2-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.soreda::after{
    content: "";
    background: url("img/manga_chara/chara2-7.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}
.frame.desuyo::after{
    content: "";
    background: url("img/manga_chara/chara2-8.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 37mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    right:0;
}


.starting::after{
    content: "";
    background: url("img/manga_chara/chara-start.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 116mm;
    height: 37mm;
    position: absolute;
    bottom:0;
    left:0;
}
.starting{
    background: url("img/manga_chara/chara-start-back.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.frame.centering::after{
    left:10mm;
}
.fwide.centering::after{
    left:20mm;
}

/* 吹き出しとセリフ */
.serif{
    overflow: visible;
    text-align: center;
    width: 100%;
    font-family: notosans-r;
    font-feature-settings: "palt" 1;
}
.serif p{
    font-size: 13q;
    line-height: 20q;
    font-family: notosans-r;
}
.frame .serif{
    border-bottom: solid 0.5mm #888;
    border-radius: 0 0 40% 40%;
    background: #FFF;
    margin:auto;
    position: absolute;
    width: 56mm;
    top: 0.01mm;
    right: 0.01mm;
    padding: 2mm 2.5mm 3mm 2.5mm;
}
.fslim .serif{
    width: 36mm;
}
.fwide .serif{
    width: 75.5mm;
}
.ffull .serif{
    width: 116.2mm;
}

/* 吹き出しのシッポ */
.ffull .serif::after{
  position: absolute;
  content: url("img/3frame_fukidasi_r.svg");
  width: 5mm;
  height: 5mm;
  bottom: -4mm;
  right: 33%;
}
/* 雪のシッポ */
.fwide .serif::after{
  position: absolute;
  content: url("img/3frame_fukidasi_r.svg");
  width: 5mm;
  height: 5mm;
  bottom: -4mm;
  right: 50%;
}


/* アリスのシッポ */
.fwide.alice .serif::after{
  position: absolute;
  content: url("img/3frame_fukidasi_l.svg");
  width: 5mm;
  height: 5mm;
  bottom: -4mm;
  right: 50%;
}
.ffull.alice .serif::after{
    position: absolute;
    content: url("img/3frame_fukidasi_l.svg");
    width: 5mm;
    height: 5mm;
    bottom: -4mm;
    right: 65%;
}

/* 幅が狭い場合のシッポ */
.fslim .serif::after{
    position: absolute;
    content: url("img/3frame_fukidasi_c.svg");
    width: 5mm;
    height: 5mm;
    bottom: -4.5mm;
    right: 40%;
}
.centering .serif::after{
    position: absolute;
    content: url("img/3frame_fukidasi_c.svg");
    width: 5mm;
    height: 5mm;
    bottom: -4.5mm;
    right: 45%;
}
.blank.fslim .serif::after{
    content: none;
}

.blank{
    border: none;
}
.blank .serif{
    border: none;
}

.starting .serif{
    width: 70%;
    left:0;
    margin:0;
    overflow: visible;
    padding: 1.5mm;
    border-left: solid 0.5mm #888;
    border-right: solid 0.5mm #888;
    border-radius: 50% 50% 50% 50%;
}
.serif2{
    position: absolute;
    top: 25mm;
    left: 32mm;
    right:auto;
    max-width: 12em;
    border: none;
    text-indent: 0;
    text-align: left;
    color: #000;
    text-shadow:  #FFF 0.1mm 0mm 0.5mm;
}
.starting .serif::after{
  position: absolute;
  content: url("img/3frame_fukidasi_l.svg");
  width: 5mm;
  height: 5mm;
  bottom: -4mm;
  right: 33%;
}

.frame.yuki .serif2{
    left: auto;
    right: 32mm;
    text-align: right;
}
.starting .serif2{
    position: absolute;
    top: 5mm;
    left:auto;
    right:-20mm;
    max-width: 12em;
    border: solid 0.5mm #888;
    border-radius: 50%;
    padding: 2mm 3mm;
    background: #FFF;
    text-indent: 0;
    text-align: center;
}
.starting .serif2::after{
  position: absolute;
  content: url("img/3frame_fukidasi_l.svg");
  width: 5mm;
  height: 5mm;
  bottom: -4mm;
  right: 33%;
}

/* 1コマに2人 */
.ffull::after{
    right:0;
}

.fleft{
    border:none;
    width: 0;
    margin-right: -3.5mm;
}
.ffull+.fleft{
    margin-right: 0;
}
.frame.fleft::after{
    left: -116mm;
    bottom: 0.5mm;
}
.fleft .serif{
    border: none;
    position: absolute;
    width: 40mm;
    height: 6mm;
    top: 30mm;
    left: -85mm;
    text-align: left;
    margin: 0;
    padding: 0;
    background: none;
    text-shadow:  #FFF -0.1mm 0mm 0.5mm;
    z-index: 10;
}
/* fwideと組み合わせる場合の補正 */
.fwide+.fleft::after{
    left: -82mm;
}

.fwide+.fleft .serif{
    left: -51mm;
}

/* 右に雪を配置 */
.fright{
    border:none;
    width: 0;
    margin-right: -3.5mm;
}
.frame.fright::after{
    right: 0;
    bottom: 0.5mm;
}
.fright .serif{
    border: none;
    position: absolute;
    width: 30mm;
    height: 6mm;
    top: 30mm;
    right: 30mm;
    margin: 0;
    padding: 0;
    background: none;
    text-align: right;
    text-shadow: #FFF 0.1mm 0mm 0.5mm;
    z-index: 10;
}

/* コマを高くする */
.ftall{
    height: 54mm;
}
.ftall7{
    height: 73mm;
}
.ftall40{
    height: 40mm;
}
.ftall43{
    height: 43mm;
}
.ftall48{
    height: 48mm;
}

/* コマを低くする */
.fshort{
    height: 37mm;
}

/* カンバン */
.kanban{
    width: 57mm;
    padding: 7mm 3mm 3mm 3mm;
    margin-bottom: 2mm;
    height: 37mm;
    position: relative;
    border-radius: 2mm;
    text-align: justify;
    text-indent: 0;
    font-size: 13q;
    line-height: 20q;
    background: url("img/comic_regex_kanban.svg");
    background-clip: 100%;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    background-size: auto 4.5mm;
    background-position: center 1.5mm;
}
/* .kanban h4{
    font-size: 12q;
    color: #FFF;
    line-height: 16q;
    letter-spacing: 1em;
    margin-top: 0;
    margin-bottom: 1mm;
    text-align: center;
} */
/* .kanban h4::before{
  content: none;
} */

.kanban p{
    text-indent: 0;
    text-align: justify;
    font-size: 13q;
    line-height: 20q;
}

/* spacer */
.spacer{
    display: inline-block;
    width: 6mm;
}

/* マンガ内に画像を入れる */
.inlinefigure{
    position: absolute;
}
.ifrshift{
    margin-left: 30mm;
}
.ifrshift3{
    margin-left: 3mm;
}
.ifrshift15{
    margin-left: 15mm;
}

.serif code{
    font-family: inconsolata, "ＭＳ ゴシック";
}

/* セリフの左寄せ。セリフが非常に長いときに使う */
.hidariyose .serif{
    text-align: left;
}

/* セリフが短いので円形にする。コマ枠に対してセリフが短いときに使う */
.ffull.serifshort .serif{
    width: 40%;
    right: 20%;
    border: solid 0.5mm #888;
    border-radius: 50%;
    padding: 2mm;
    margin-top: 2mm;
}
.ffull.serifshort .serif .inlinefigure{
    left: -40mm;
}
.fslim.serifshort .serif{
    width: 90%;
    right: 1.5mm;
    top: 6mm;
    border: solid 0.5mm #888;
    border-radius: 50%;
    padding: 3mm 2mm;
    /* margin-top: 2mm; */
}
