/* 後付けのページ設定
atoduke.cssはファイル名がatoduke.mdを含むときのみ読み込まれる
*/
/* 左右で異なる部分の設定（柱を消す） */
@page :left {
  margin: 18mm 18.5mm 18mm 18.5mm;

  @bottom-center {
    content: counter(page);
    margin-top: 2.5mm;
    width: 8mm;
    font-family: rochester;
    font-size: 12q;
    color: #FFF;
  }

  /* ツメをずらしたい場合、ファイルごとにCSSを分けるしかない */
  @left-middle {
    content: none;
  }
}

@page :right {
  margin: 18mm 18.5mm 18mm 18.5mm;

  @bottom-center {
    content: counter(page);
    margin-top: 2.5mm;
    width: 8mm;
    font-family: rochester;
    font-size: 12q;
    color: #FFF;
  }

  @right-middle {
    content: none;
  }
}

h2 {
  font-size: 17q;
  line-height: 22q;
  font-family: mplusrounded-r;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  width: 117mm;
  height: 10mm;
  background: url("img/comic_regex_mae_h2_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 0 0;
}

h2::before {
  content: none;
  vertical-align: -0.5mm;
}

.secheader {
  break-before: auto;
  height: 13mm;
  width: 0mm;
  margin: 0;
  padding: 0 0 0 0;
  background-image: none;
  background-size: 100%;
  background-repeat: no-repeat;
  counter-increment: sec-count;
}

/* 索引 */
.sakuin {
  column-rule: 1px dotted #999;
  column-gap: 2em;
  column-count: 2;
}

.sakuin ul {
  list-style-type: none;
  margin: 0 0 2mm 0;
}

.sakuin li {
  font-size: 12q;
  line-height: 18q;
  position: relative;
}

.bg_white {
  background-color: #fff;
  padding-right: 1mm;
}

.sakuin li::after {
  content: '';
  display: block;
  height: 0;
  border-top: 0.4mm dotted #999;
  position: relative;
  bottom: 1.2mm;
  z-index: -1;
  width: 99%;
}

.sakuin h4 {
  font-size: 14q;
  line-height: 20q;
  font-family: mplusrounded-r;
  text-align: center;
  vertical-align: middle;
  color: #333;
  width: auto;
  height: auto;
  background: none;
  background-color: #ddd;
  margin: 0 0 2mm 0;
  border-radius: 3mm;
}
.sakuin h4:first-child{
    margin-top: 2mm;
}

.sakuin h4::before {
  content: none;
}

.sakuin .page {
  position: absolute;
  right: 0mm;
  top: 0mm;
  font-family: rochester;
  background: #fff;
  padding: 0 0 0 1mm;
}

/* サンプルファイル */
.sample_annnai ol{
    font-family: notosans-r;
    font-size: 13q;
}
.sample_annnai .small {
    line-height: 15q;
    margin-left: 1em;
    text-indent: -1em;
    margin-top: -4mm;
}

/* プロフィール */
.profile h3{
  font-family: mplusrounded-r;
  font-size: 30q;
  color: #999;
  letter-spacing: 0.5em;
  background: none;
  width: inherit;
  height: inherit;
  margin: 0 0 6mm 0;
}

.profile h4::before {
  content: none;
}

.profile h4 {
  font-family: mplusrounded-r;
  font-size: 10.5q;
  line-height: 20q;
  color: #fff;
  margin: 0 0mm 0mm 0;
  width: 17mm;
  height: 5mm;
  background: url("img/comic_regex_ribon01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  transform: rotate(-4deg);
  float: left;
  position: relative;
  left: -2mm;
  bottom: inherit;
  top: inherit;

}

.profile h5 {
  font-family: mplusrounded-m;
  font-size: 15q;
  margin: 1mm 0 2mm;
  padding: 0 0 1mm 0;
  border-bottom: solid #999 .5mm;
}

.profile p{
  margin-bottom: 7mm;
  font-size: 11q;
    line-height: 16q;
    text-indent: 0;
}

.profile .ruby {
  font-size: 10q;
}

/* Vibriostyleインフォ */
.vs_info {
  position: relative;
  margin: 20mm 0 0 0;
  padding: 3mm 38mm 3mm 3mm;
  border: solid #999 0.3mm;
  border-radius: 2mm;
}

.vs_info p{
  font-size: 11q;
  line-height: 16q;
  text-indent: 0;
}

.vs_info svg {
  margin: 0;
  position: absolute;
  top: 3mm;
  right: 3mm;
}

.vs_info code {
  font-family: notosans-m;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline;
}
